{{!-- This page will contain information about our campus map
Will be implemented in future milestones

Author(s): --}}


<div class="container">
    <p>SFSU Campus Map for users to meet and exchange items safely.</p>
    <img src="../assets/img/homepage/map2.png" alt="" class="img-fluid" style="">
</div>