/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-left {
  text-align: left !important;
}

.field-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bg-gray-300 {
  background-color: #dee2e6 !important;
}

.btn-gray-300 {
  color: #000;
  background-color: #dee2e6;
  border-color: #dee2e6;
}

.btn-gray-300:hover {
  color: #000;
  background-color: #ced4da;;
  border-color: #ced4da;;
}

.border-gray-700 {
  border-color: #495057 !important;
}

.card-title:hover {
  text-decoration: underline;
}

/* @media (min-width: 768px) {
  .my-col-xs-4 {
    flex: 0 0 auto;
    width: 40%;
  }
} */
/* .homecard{
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* padding: 50px 100px; */
 /* } */
